<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nevesrafael.afazer">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AFazer"
        tools:targetApi="31">
        <activity
            android:name=".telas.tela_incial.TelaInicialActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQTXkaqNiVJ3AB7FRZt5TarWqlWTUm8kQ" />

        <activity
            android:name=".telas.mapa.SelecionaEnderecoActivity"
            android:exported="false"
            android:label="Selecione um Local" />
        <activity
            android:name=".telas.informacoes_evento.InformacoesDoEventoActivity"
            android:exported="false"
            android:label="Informações"/>
        <activity
            android:name=".telas.splah_screen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>